<!DOCTYPE html>
<html lang="es-cl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contaminacion Ambiental</title>
  <link rel="stylesheet" href="../static/estilos.css">
  
</head>
<body>
  <div>
    
    <canvas id="MP" style=" color: #cc6d6d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 700px;
    height: 150px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;"></canvas>
      <button id="graficomp" >Exportar Tabla</button>
    
    
    
    <canvas id="TEMP" style="color: #e90a55;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 700px;
    height: 150px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;"></canvas>
      <button id="graficotemp" >Exportar Tabla</button>
   
  </div>
  
  
  
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script type="text/javascript" src="../static/queso.js"></script>
</html>



